
ul.headerContainer {
 margin: 10px 0 0  10px;

}

.username {

    color:white;

}


input.btn {
 padding:0;;

}

div.footdiv {

 height:40px;
 width:100%;
 background:black;

}

p.copyLink {
 position:absolute;
 left:20px;
 font:12px;
 letter-spacing:2px
 margin-left:40px;
 color: white;
 white-space:pre;

}

#headerLoginForm {
  position:absolute;
  float:right;
  left:50%;
  width:440px;
  height:44px;
  top:2px;


}

#headerLoginForm input {
  margin:0 0 0 10px;
  width:90px;
  height:18px;
  font:10px;
  float:left;

}


#headerLoginForm input.submit {
  width:80px;
  height:22px;
  font:10px;

}